:root {
  --black: #1b2222;
  --blue: #3e4aec;
  --grey: #ebebeb;
  --lavender: #bdc9ff;
  --white: #fff;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--blue);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--black);
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: var(--white);
  margin-top: 0;
}

[role='button'] {
  cursor: pointer;
}

a {
  color: var(--white);
  text-decoration: none;
  padding: 4px;
}

a:hover,
[role='button']:hover {
  color: var(--lavender);
}

.badge {
  background-color: var(--blue);
  border-radius: 25px;
  color: var(--white);
  display: inline-block;
  font-size: 10px;
  height: 10px;
  padding: 2px;
  text-align: center;
  width: 10px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: var(--blue);
  border: none;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  padding: 8px 16px;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h2 {
  align-self: flex-start;
  color: var(--white);
}

.filter {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  width: 100%;
}

.filter ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  flex: 1;
}

table {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background-color: var(--white);
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: var(--black);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

th {
  color: var(--white);
  padding: 16px;
}

tbody tr:nth-child(odd) {
  background-color: var(--grey);
}

tbody td {
  padding: 16px;
}

@media screen and (min-width: 960px) {
  header {
    flex-direction: row;
  }

  h1 {
    margin: 0;
  }

  nav {
    align-items: center;
    justify-content: space-between;
    margin-left: 32px;
  }

  a {
    padding: 0 16px;
  }

  .container {
    width: 500px;
  }
}
